/*body {
    margin: 0;
    padding: 0;
}*/

.container {
  border: 2px solid #ff00ab;
  display: grid;
  grid-template-areas:
   "head head head head head head"
   "snd snd snd sna sna sna" 
   "fst fst fst fsa fsa fsa"
   "data data data data data data"
   "footer footer footer footer footer footer";
  gap: 5px;
  grid-auto-rows:100px;   
 }
 
 .container div {
  border: 2px solid #0000ff;
 }
 
 .head{
  grid-area: head;
  }
 
 .snd {
  grid-area: snd;
 }

 .sna{
  grid-area: sna;
 }
 
 .fst {
  grid-area: fst;
 }

 .fsa{
  grid-area: fsa;
 }
 
 .footer {
  grid-area: footer;
 }
 
 