nav {
    background-color: #adb1ae;
}

nav ul li{
    display: inline-block;
    text-align: left;
    margin-left: 0;
    }

  

div {
    
    background-color: #00ffff;
    text-align: center;
    
}

