body {
    margin: 0;
    padding: 0;
}

.container {
  /*background-color: #aa0000;
  border: 10px solid green;*/
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
  gap: 5px;

}

.div {
  background-color: grey;
  border: 5px solid hotpink;
  height: 150px;
 
}

#head {
  grid-row: 200px;
}